
h1.head1 {
	padding: 100px;
	width: 520px;
	margin: 0px auto;
}

form.search {
		width: 520px;
		margin:0px auto;
}

div.random {
		width: 520px;
		margin: 25px auto;
}

input{
	width:230px; 
	height:50px;
	outline:none;
	border:none;
    box-shadow: 1px 1px 5px #888888;
	border-radius:27px;
	padding-left: 5px;
}
input:hover {
	box-shadow: 2px 2px 7px #888888;
}
button.btn {
	width:50px; 
	height:50px;
	outline:none;
	border:none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}


@media screen and (max-width: 500px) {
	
	h1.head1 {
		width: 335px !important;
		margin: 0px auto !important;
		font-size: 20px !important;
		padding:0px auto;
	}
	
	form.search {
		width: 335px !important;
		margin:0px auto !important;
	}

	div.random {
		width:335px !important;
		margin:16px auto !important;
		font-size: 16px !important;

	}
	
}